<ion-header>
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list class="list">
          <ion-item>
            <p><strong>App Name: </strong> PWeather</p>
          </ion-item>
          <ion-item>
            <p><strong>Version: </strong> 1.0.0</p>
          </ion-item>
          <ion-item>
            <p><strong>Description: </strong> Simple Weather App</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
